@model BookingDoctorsAppointment.ViewModels.DoctorLoginViewModel
@{
    //ViewBag.Title = "DoctorLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <div class="container">
        <h2 style="padding-top:20px">Doctor Login</h2>
        <div class="container">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.LabelFor(e => e.UserId)
                    @Html.TextBoxFor(e => e.UserId, new { @class = "form-control", autocomplete = "off", required = true })
                    @Html.ValidationMessageFor(e => e.UserId)
                </div>
                <div class="form-group">
                    @Html.LabelFor(e => e.PassWord)
                    @Html.PasswordFor(e => e.PassWord, new { @class = "form-control", autocomplete = "off", required = true })
                    @Html.ValidationMessageFor(e => e.PassWord)
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" id="CmdSubmit" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</center>

