@model BookingDoctorsAppointment.ViewModels.DoctorLoginViewModel
@{
    ViewBag.Title = "DoctorLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 style="text-align:center;padding-top:20px">Doctor Login</h2>
    <div style="padding-left:310px">
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(e => e.UserId)
                @Html.TextBoxFor(e => e.UserId, new { @class = "form-control", autocomplete = "off", required = true })
                @Html.ValidationMessageFor(e => e.UserId)
            </div>
            <div>
                @Html.LabelFor(e => e.PassWord)
                @Html.PasswordFor(e => e.PassWord, new { @class = "form-control", autocomplete = "off", required = true })
                @Html.ValidationMessageFor(e => e.PassWord)
            </div>

            <div>
                <br />
                <input type="submit" value="Login" id="CmdSubmit" class="btn btn-primary" />
            </div>
        }
    </div>
</div>
