@model IEnumerable<OnlineDoctorsAppointmentBooking.Models.AppointmentDetails>
@{
    ViewBag.Title = "BookingDetails";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>BookingDetails</h2>
<table class="table table-primary">
    <tr>
        <th>Appoinment Number</th>
        <th>Employee Name</th>
        <th>Appointment Date</th>
        <th>Appointment Time</th>
        <th>Status of Booking</th>
        <th>Doctor Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AppointmentNumber</td>
            <td>@item.Employee.EmployeeFirstName</td>
            <td>@item.AppointmentDate</td>
            <td>@item.TimeSlots.TimeSlot</td>
            <td>@item.StatusOfBooking</td>
            <td>@item.Doctor.DoctorFirstName</td>
        </tr>
    }
</table>

